:root {
    --speed: 5;
}

.machine {
    background-color: peru;
    border: dashed brown 3px;
    height: 300px;
    width: 900px;
    margin: 50px;

    z-index: 5;

    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

/* #inpSpeed {
    font-size: 30pt;
    margin-left: 30px;
    width: 50px;
} */

.slot {
    height: 250px;
    width: 250px;
    /* margin: 20px; */

    background-color: beige;
    border: solid darkblue;

    z-index: 1;
    overflow: hidden;

    text-align: center;
    font-size: 100pt;
    line-height: 250px;
}

.slot > .value {
    display: inline-block;
    z-index: 3;
    animation-name: slotspin;
    animation-iteration-count: infinite;
    animation-duration: calc(1s/var(--speed));
}

.button {
    height: 300px;
    width: 300px;
    margin: 50px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    transform: translateY(-35px);
}

#btnSpin {
    height: 150px;
    width: 150px;
    background-color: orangered;
    border: 1px dashed black;
    border-radius: 50%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
}

@keyframes slotspin {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(200px);
    }
}